@import "../../scss/variable.scss";
@import "../../scss/breakpoints.scss";

.home {
  display: flex;
  flex-direction: column;
  background: no-repeat;
  place-items: center;
  color: #fff;

  @include md {
    margin-top: -23px;
  }

  @include xl {
    width: 445px;
    margin-left: 165px;
  }

  &__title {
    font-family: $font-stack-1;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: $font-color-primary;
    margin-top: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;

    @include sm {
      font-size: 18px;
    }

    @include md {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 3.375px;
      margin-top: 106px;
    }

    @include xl {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 4.725px;
      text-align: left;
      margin-top: 226px;
    }
  }

  &__title-2 {
    font-family: $font-stack-2;
    font-size: 80px;
    line-height: 100px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;

    @include sm {
      font-size: 100px;
    }

    @include md {
      font-size: 150px;
      line-height: 150px;
      margin-bottom: 24px;
    }
    @include xl {
      line-height: 172px;
      text-align: left;
    }
  }

  &__text {
    font-family: $font-stack-3;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $font-color-primary;
    margin-bottom: 81px;
    text-align: center;
    font-style: normal;
    max-width: 444px;

    @include sm {
      font-size: 16px;
    }

    @include md {
      line-height: 28px;
      margin-bottom: 156px;
    }

    @include xl {
      font-size: 18px;
      line-height: 32px;
      text-align: left;
      margin-bottom: 131px;
    }
  }

  &__btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-style: normal;
    color: $font-color-secondary;
    font-size: 20px;
    line-height: 22.92px;
    letter-spacing: 1.25px;
    font-family: $font-stack-2;
    font-weight: 400;
    text-transform: uppercase;
    border-style: none;
    outline: none;

    @include sm {
      width: 180px;
      height: 180px;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 1.5px;
    }

    @include md {
      width: 242px;
      height: 242px;
      font-size: 32px;
      line-height: 37px;
      letter-spacing: 2px;
    }

    @include xl {
      position: absolute;
      bottom: 131px;
      right: 165px;
    }
  }
}
