@import "./breakpoints";

.app-container {
  padding: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  max-width: 1600px;
  margin-inline: auto;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  @include xl {
    min-height: 900px;
  }
}
