@use "./App";
@use "./components/pageHeader/header";

@use "./components/homePage/home";

@use "./components/crewPage/crew";

@use "./components/destinationPage/destination";

@use "./components/technologyPage/technology";

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-color: #0b0d17;
}

img {
  height: 100%;
}
