@use "./App";
@use "./components/header/header";

@use "./components/home/home";

@use "./components/crew/crew";

@use "./components/destination/destination";

@use "./components/technology/technology";

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-color: #0b0d17;
}

img {
  height: 100%;
}
