$font-stack-1: "Barlow Condensed", sans-serif;
$font-stack-3: "Barlow", sans-serif;
$font-stack-2: "Bellefair", serif;
$font-color-primary: #d0d6f9;
$font-color-secondary: #0b0d17;
$separator-color: #383b4b;
$white-color: #fff;
$crew-bg-color: #0b0d17;
